<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-4 rounded-3">
                <div class="card position-relative shadow bg-light p-3">
                    <h3>Product Image </h3>
                    <p>Title</p>
                    <p>Price</p>
                    <span class="position-absolute top-0 end-0 bg-info rounded-2 px-2">Rating</span>
                </div>
            </div>
            <div class="col-md-4 rounded-3">
                <div class="card position-relative shadow bg-light p-3">
                    <h3>Product Image </h3>
                    <p>Title</p>
                    <p>Price</p>
                    <span class="position-absolute top-0 end-0 bg-info rounded-2 px-2">Rating</span>
                </div>
            </div>
            <div class="col-md-4 rounded-3">
                <div class="card position-relative shadow bg-light p-3">
                    <h3>Product Image </h3>
                    <p>Title</p>
                    <p>Price</p>
                    <span class="position-absolute top-0 end-0 bg-info rounded-2 px-2">Rating</span>
                </div>
            </div>
        </div>
    </div>
</section>
